body {
	font-family: 'Gaegu', cursive;
}
.container {
	width: 100%;
}
.header {
	text-align: center;
}
.header span {
	font-size: 0.8em;
	display: block;
}
.score {
	text-align: center;
	margin: 25px auto;
	font-size: 2em;
	height: 40px;
	background-color: lightgreen;
	border-radius: 25px;
	max-width: 325px;
}
.score p {
	margin: 0;
}
.picks {
	width: 100%;
	margin: 25px auto;
	text-align: center;
}
.picks img {
	position: relative;
	vertical-align: middle;
	width: 15%;
	border-radius: 25px;
	top: 0;
	transition: top .2s;
	-webkit-transition: top .02
}
.picks img:hover {
	top: -10px;
}
.picked {
	margin: auto;
	border-radius: 25px;
	width: 100px;
	height: 100px;
	background-color: #eee;
	line-height: 100px;
	font-weight: 700;
	font-size: 3em;
}
.arena {
	width: 100%;
	margin: 25px auto;
	max-width: 500px;
	font-size: 1.5em;
}
.col {
	text-align: center;
	box-sizing: border-box;
	width: 100%;
	float: left;
}
.col-sm {
	text-align: center;
	box-sizing: border-box;
	width: 100%;
	float: left;
}
.versus {
	text-align: center;
	font-size: 1.5em;
}
.message {
	width: 100%;
	text-align: center;
	font-size: 1.7em;
	font-weight: 600;
}
.arena p {
	margin: 0;
}
.loser {
	transition: all 1s;
	-webkit-transition: all 1s;
	transition-delay: 1s;
	-webkit-transition-delay: 1s;
	filter: brightness(40%);
}

/* mobile first */
@media only screen and (min-width: 550px) {
	.arena {
		height: 211px;
	}
	.col {
		width: 40%;
	}
	.col-sm {
		width: 20%;
		height: 211px;
	}
	.versus {
		position: relative;
		top: 45%;
	}
	.picks img {
		width: 100px;
		height: 100px;
	}
	.arena p {
		margin: 1em 0;
	}
	.picked {
		width: 122px;
		height: 122px;
		line-height: 122px;
	}
}