* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
body {
	background-color: #fff;	
}
p {
	font-size: 1.2em;
}
.container{
	width: 100%;
}
.center {
	text-align: center;
}
.selection, .results {
	display: inline-block;
	text-align: center;
	width: 100%;
	margin-bottom: 25px;
}
.circle {
	display:inline-block;
	border-radius: 100%;
	width: 19%;
	height: 19%;
	min-width: 60px;
	min-height: 60px;
	max-width: 120px;
	max-height: 120px;
	padding: 10px;
}
#yourChoice .circle, #computerChoice .circle {
	min-width: 80px;
	min-height: 80px;
}
.selection .circle:hover {
	transition: top 0.5s ease;
	top: -5px;
}
.shout {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.2em;
}
#scoreboard {
	background-color: lightgreen;
	line-height: 2em;
	text-align: center;
}
.question-mark {
	text-align: center;
	color: #ababab;
	font-size: 5em;
	font-family: arial, sans-serif;
}
.selected {
	border: 3px solid orange;
}
@media only screen and (min-width: 950px) {
	body {
		background-color: lightgrey;
	}
	.header{
		margin-bottom: 5em;
	}
	.container {
		background-color: #fff;
		border: 1px solid grey;
		max-width: 1024px;
		margin: auto;
	}
	.question-mark {
		font-size: 8em;
		font-weight: 500;
	}
	.shout {
		font-size: 2em;
	}
	#scoreboard {
		position: absolute;
		bottom: 50%;
		right: 0;
		width: auto;
		text-align: justify;
		padding: 30px;
	}
}
